<article class="article well article-body" id="article-tag">
    <div class="breadcrumb">
        <i class="fa fa-home"></i>
        <a href="<%- config.url %>"><%= config.title %></a>
        >
        <span>标签</span>
    </div>
    <!-- 大型设备详细文章 -->
    <div class="hidden-xs">
        <div class="title-article">
            <h1>
                <a href="<%- url_for(page.path) %>"><%= page.tag %></a>
            </h1>
        </div>
    </div>
    <!-- 小型设备详细文章 -->
    <div class="visible-xs">
        <center>
            <div class="title-article">
                <h4>
                    <a href="<%- url_for(page.path) %>"><%= page.tag %></a>
                </h4>
            </div>
        </center>
    </div>
    <div class="content-article" style="margin-top: 30px;">
        <div class="alert alert-info" style="font-size: 14px; line-height: 2; font-weight: bold;">
            <% page.posts.forEach(function (post) { %>
            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            <br>
            <% }) %>
            <% if (page.posts.length === 0) { %>
            暂无属于该标签的文章
            <% } %>
        </div>
    </div>
</article>