<div class="gal-menu gal-dropdown">
    <div class="circle" id="gal">
        <div class="ring">
            <a href="<%- config.url %>" class="menuItem" style="left: 50%; top: 15%;">首页</a>
            <% if (page.next && page.next_link) { %>
            <a href="<%- url_for(page.next_link) %>" class="menuItem" style="left: 80.3109%; top: 32.5%;">下一页</a>
            <% } else { %>
            <a class="menuItem" style="left: 80.3109%; top: 32.5%;">下一页</a>
            <% } %>
            <a href="<%- url_for(theme.oni_setting[0].url) %>" class="menuItem" style="left: 80.3109%; top: 67.5%;"><%= theme.oni_setting[0].title %></a>
            <a href="<%- url_for(theme.oni_setting[1].url) %>" class="menuItem" style="left: 50%; top: 85%;"><%= theme.oni_setting[1].title %></a>
            <a href="<%- url_for(theme.oni_setting[2].url) %>" class="menuItem" style="left: 19.6891%; top: 67.5%;"><%= theme.oni_setting[2].title %></a>
            <% if(page.prev && page.prev_link) { %>
            <a href="<%- url_for(page.prev_link) %>" class="menuItem" style="left: 19.6891%; top: 32.5%;">上一页</a>
            <% } else { %>
            <a class="menuItem" style="left: 19.6891%; top: 32.5%;">上一页</a>
            <% } %>
        </div>
        <audio id="audio" src="<%- url_for('imgs/oni.mp3') %>"></audio>
    </div>
</div>