<!-- search自定义页面 -->
<script type="text/javascript">

	var htmlEntityMap = {
		'&': '&amp;',
		'<': '&lt;',
		'>': '&gt;',
		'"': '&quot;',
		'\'': '&#39;',
		'/': '&#x2F;'
	};

	// 参照hexo过滤html的方法(事实上感觉静态也没什么可以过滤的)
	function escapeKey(str) {
		if (typeof str !== 'string') throw new TypeError('str must be a string!');

		// http://stackoverflow.com/a/12034334
		return str.replace(/[&<>"'\/]/g, function(a) {
			return htmlEntityMap[a];
		});
	}

	var query = decodeURIComponent(window.location.search).substring(1).split('&')
    // 获取搜索关键词
    var s = escapeKey(query[0].split('=')[1])
    // 获取当前页数
    var p = query.length > 1 ? query[1].split('=')[1] : 1
    // 获取每页的页码数
    var pageSize = '<%= config.per_page %>'
    var useLeancloud = '<%= theme.leancloud.appid && theme.leancloud.appkey %>'
    var useComment = ('<%= theme.use_comment %>' === 'true')
    $.getJSON('<%- url_for('content.json') %>', function (json) {
      $('#search-breadcrumb').append(`搜索'${s}'的结果`)
      var result = getArticles(s, 'posts', json).concat(getArticles(s, 'pages', json))
      if (result.length === 0 || result.length <= (p - 1) * pageSize) {
      	// TODO 显示404页面
      } else {
        displaySearchResult(result.slice((p - 1) * pageSize, p * pageSize))
        displayPagination(result)
      }
    })

    function getArticles(val, type, json) {
      return json[type].filter((e) => {
        return e.title.indexOf(val) !== -1 || e.text.indexOf(val) !== -1
      })
    }

    function displaySearchResult(result) {
      var resultList = $('#article-list')
      result.forEach(function (article) {
      	var [month, day] = article.date.split('-')
        '<% var num =  Math.floor(Math.random() * theme.default_preview.length) %>'
        '<% var testUrl = /https?:\/\// %>'
        var defaultPreview = '<%= testUrl.test(theme.default_preview[num]) ? theme.default_preview[num] : url_for(`imgs/preview/${theme.default_preview[num]}`) %>'
        var preview = article.preview ? article.preview : defaultPreview
        var path = '<%- config.root %>' + article.path
        resultList.append(`<div class="article well clearfix article-body article-excerpt" data-aos="flip-up">
                                <div class="data-article hidden-xs">
                                    <span class="month">${month}月</span>
                                    <span class="day">${day}</span>
                                </div>
                                <section class="hidden-xs">
                                    <div class="title-article">
                                        <h1>
                                            <a href="${path}">
                                                <span>${article.title}</span>
                                            </a>
                                        </h1>
                                    </div>
                                    <div class="tag-article">
                                    ${ article.tags.length > 0 ? `<span class="label label-gal"><i class="fa fa-tags"></i>${
                                    	article.tags.map(function (tag) {
						                 return `<a href=${ tag.permalink }>${ tag.name }</a>`
                                    	}).join(', ') }</span>` : '' }
                                    ${ useLeancloud ? '<span class="label label-gal"><i class="fa fa-eye"></i></span>' : ''}
                                    </div>
                                    <div class="alert alert-gal article-body content-article">
                                         <div class="item">
                                            <a href="${path}">
                                                <div class="img">
                                                    <img src="${preview}" alt="${article.title}">
                                                </div>
                                                <div class="info">
                                                    <p>${article.excerpt}</p>
                                                </div>
                                            </a>
                                         </div>
					                </div>
					            </section>
                           </div>`)
      })
      if (useLeancloud) {
        var Counter = AV.Object.extend('Counter')
        showPostsTime(Counter)
      }
      if (useComment) {
      	showCommentCount()
      }
    }

    function displayPagination(result) {
      var pgContainer = $('#gal-pagination')
      var pg = $(pgContainer.find('.pagination-gal')[0])
      if(result.length > 0) {
        pgContainer.css('display', 'block')
      }
      var num = Math.ceil(result.length / pageSize)
      var root = '<%- url_for('/search') %>'
      var link = root + `/index.html?s=${s}`
      if(p > 1) {
      	pg.append(`<li class="prev"><a href="${link}&page=${p-1}">«</a></li>`)
      }
      if(p > 7) {
      	pg.append(`<li><a href="${link}">1</a></li>
                   <li><span>...</span></li>`)
        for(var i = p - 3; i < p; i++) {
          pg.append(`<li><a href="${link}&page=${i}">${i}</a></li>`)
        }
      } else {
      	for(var j = 1; j < p; j++) {
          pg.append(`<li><a href="${link}${j === 1 ? '' : `&page=${j}`}">${j}</a></li>`)
        }
      }
      pg.append(`<li class="current"><span>${p}</span></li>`)
      if(p + 7 < num) {
      	for(var i = p + 1; i <= p + 3; i++) {
          pg.append(`<li><a href="${link}&page=${i}">${i}</a></li>`)
        }
        pg.append(`<li><span>...</span></li>`)
      } else {
      	for(var j = p + 1; j <= num; j++) {
          pg.append(`<li><a href="${link}&page=${j}">${j}</a></li>`)
        }
      }
      if(p < num) {
      	pg.append(`<li class="next"><a href="${link}&page=${p+1}">»</a></li>`)
      }
    }

    function showPostsTime(Counter) {
      var entries = []
      var excerpts = $('.article-excerpt')
      excerpts.each(function () {
        entries.push($(this).find('.title-article').first().find('a').attr('href').trim())
      })
      var query = new AV.Query(Counter)
      query.containedIn('url', entries)
      query.find().then(function (result) {
        excerpts.each(function () {
          var href = $(this).find('.title-article').first().find('a').attr('href').trim()
          var r = result.filter(function (e) {
            return e.get('url') === href
          })
          if(r.length > 0) {
            $(this).find('i.fa-eye').each(function () {
              $(this).after(' ' + r[0].get('time') + ' ℃')
            })
          } else {
            $(this).find('i.fa-eye').each(function () {
              $(this).after(' 0 ℃')
            })
          }
        })
      }).then(function (error) {
        console.log('Error:' + error.code + ' ' + error.message)
      })
    }

    function showCommentCount() {
      const excerpts = $('.article-excerpt')
      const owner = window.commentConfig.owner
      const repo = window.commentConfig.repo
      $.ajax({
        url: "https://api.github.com/repos/" + owner + '/' + repo + '/issues',
        data: {
          creator: owner
        }
      }).done(function(issues) {
        excerpts.each(function () {
          const that = $(this)
          that.find('h1 > a > span').each(function () {
            const title = $(this).text()
            const tags = that.find('div.tag-article')
            const issue = issues.filter(function (issue) {
              return issue.title === title
            })
            const comments = issue.length > 0 ? issue[0].comments : 0
            tags.each(function () {
              $(this).append('<span class="label label-gal"><i class="fa fa-comments"></i><a> ' + comments + '</a></span>')
            })
          })
        })
      }).fail(function (error) {
        console.log(error)
      });
    }

</script>
<div class="breadcrumb breadcrumb-gal" id="search-breadcrumb">
    <i class="fa fa-home"></i>
</div>
<div id="article-list"></div>
<div id="gal-pagination" class="clearfix" style="display: none;">
    <ul class="pagination pagination-gal pull-right"></ul>
</div>